body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    color: white;
}

.header {
    text-align: center;
}

.header h1 {
    color: white;
    font-size: 5em;
}

.drawSpaceContainer {
    display: flex;
    gap: 2em;
}

.drawSpaceContainer h1 {
    margin: 0;
}

.colourSelection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 16em;
}

.gridContainer div {
    width: 2em;
    height: 2em;
    background-color: white;
}

.gridContainer div:hover {
    background-color: beige;
}
